:root {
  --button-color: #e8eff2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

body {
  min-height: 100%;
  font-family: "Barlow", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  margin-inline-start: 1.5em;
  margin-block-start: 1.2em;
}

.navbar__button {
  border-radius: 8px;
  background-color: var(--button-color);
  height: fit-content;
  padding: 0.8em;
  width: auto;
  margin-block-start: 1em;
  margin-inline-end: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar__button-black {
  color: #162542;
}

.navbar__button-orange {
  padding: 0.8em;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background-color: #f16718;
}

.container__title {
  font-weight: 900;
  text-transform: uppercase;
  color: #162542;
  margin-block-start: 1em;
  line-height: 48px;
  font-size: 48px;
  margin-inline-start: 0.5em;
}

.container__description {
  color: #7b8bad;
  line-height: 1.5;
  font-weight: 500;
  margin-block-start: 2em;
  padding-inline-end: 2em;
  margin-inline-start: 1.4em;
}

.button-grid {
  display: flex;
  gap: 1em;
  margin-block-start: 3em;
  margin-inline-start: 1.3em;
}

.navbar__button-disabled {
  padding: 0.8em;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7b8bad;
}

.container__image {
  margin-left: 1em;
  background-position-x: 12em;
  height: auto;
  width: auto;
  border-radius: 23px;
  margin-block-start: 1em;
}

img {
  max-width: 100%;
}

.image-grid {
  display: flex;
}

.image-grid img {
  border-radius: 23px;
  padding: 1em;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.container__subtitle {
  font-weight: 900;
  font-size: 32px;
  padding-inline: 2em;
  margin-block-start: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #162542;
}

.container__subdescription {
  color: #7b8bad;
  line-height: 1.5;
  margin-block-start: 1.4em;
  text-align: center;
  font-weight: 500;
  padding-inline: 4em;
}

.grid {
  display: flex;
  margin-block-start: 5em;
  gap: 2em;
  flex-direction: column;
}

.copyright {
  text-align: center;
}

.grid_item {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.grid_item__title {
  font-weight: 900;
  margin-block-start: 2em;
  padding-inline: 5.3em;
  text-align: center;
  margin-block-end: 0.7em;
  color: #162542;
  text-transform: uppercase;
}

.grid_item__description {
  color: #7b8bad;
  text-align: center;
  font-weight: 500;
  line-height: 26px;
  padding-inline: 3em;
}

.copyright {
  color: #7b8bad;
  margin-block-start: 4em;
  margin-block-end: 3em;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .container__image {
    padding-inline-end: 12em;
    margin-block-start: 3em;
  }
  .hero-grid {
    display: flex;
    margin-block-start: 2em;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
